<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- head from components partials -->
    <%- include('../partials/head'); %>
  </head>
  <body class="container-fluid">
    <!-- navbar from components partials -->
    <%- include('../partials/navbar'); %>
    <main>
      <section class="container my-5">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam quod
          quisquam sapiente ullam reiciendis. Molestiae architecto, fugit
          blanditiis cumque accusamus incidunt, excepturi delectus recusandae
          rerum ab eos dolorum eius sapiente?
        </p>
      </section>
    </main>
    <!-- footer from components partials -->
    <%- include('../partials/footer'); %>
  </body>
</html>
