<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>

</head>

<body>
  <div class="container">
    <header>
      <%- include('../partials/navbar'); %>
    </header>
    <div class="container">
      <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui accusantium consequatur corrupti soluta natus
        aperiam. Quo aspernatur, voluptates amet, voluptas earum aut velit dolores voluptatem adipisci, accusamus
        reiciendis voluptatum iste.
      </p>
      <img src="https://coolwallpapers.me/picsup/1259819-server.jpg" alt="" style="width: 200px;">
    </div>
    <footer>
      <%- include('../partials/footer'); %>
    </footer>
  </div>
</body>

</html>